<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css"
</head>
<body>
    <h1>Customer Information</h1>
  <form action="/process_form" method="POST">
    <div>
      <label for="gender">Gender:</label>
      <select id="gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" name="age">
    </div>
    <div>
      <label for="senior_citizen">Senior Citizen:</label>
      <select id="senior_citizen">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <label for="married">Married:</label>
      <select id="married">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <label for="num_dependents">Number of Dependents:</label>
      <input type="number" id="num_dependents" name="num_dependents">
    </div>
    <div>
      <label for="zip_code">Zip Code:</label>
      <input type="number" id="zip_code" name="zip_code">
    </div>
    <div>
      <label for="tenure_months">Tenure (in months):</label>
      <input type="number" id="tenure_months" name="tenure_months">
    </div>
    <div>
      <label for="num_referrals">Number of Referrals:</label>
      <input type="number" id="num_referrals" name="num_referrals">
    </div>
    <div>
      <label for="has_internet_service">Has Internet Service:</label>
      <select id="has_internet_service">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <label for="internet_type">Internet Type:</label>
      <select id="internet_type">
        <option value="Cable">Cable</option>
        <option value="Fibre Optic">Fibre Optic</option>
        <option value="DSL">DSL</option>
      </select>
    </div>
    <div>
      <label for="has_unlimited_data">Has Unlimited Data:</label>
      <select id="has_unlimited_data">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_phone_service">Has Phone Service:</label>
      <select id="has_phone_service">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_multiple_lines">Has Multiple Lines:</label>
      <select id="has_multiple_lines">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_premium_tech_support">Has Premium Tech Support:</label>
      <select id="has_premium_tech_support">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_online_security">Has Online Security:</label>
      <select id="has_online_security">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_online_backup">Has Online Backup:</label>
      <select id="has_online_backup">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>    
    </div>
    <div>
      <label for="has_device_protection">Has Device Protection:</label>
      <select id="has_device_protection">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>  
    </div>
    <div>
      <label for="contract_type">Contract Type:</label>
      <select id="contract_type">
        <option value="Month-to-Month">Month-to-Month</option>
        <option value="One Year">One Year</option>
        <option value="Two Year">Two Year</option>
      </select>  
    </div>
    <div>
      <label for="paperless_billing">Paperless Billing:</label>
      <select id="paperless_billing">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>  
    </div>
    <div>
      <label for="payment_method">Payment Method:</label>
      <select id="payment_method">
        <option value="Credit Card">Credit Card</option>
        <option value="Bank Withdrawal">Bank Withdrawal</option>
      </select>  
    </div>
    <div>
      <label for="avg_long_distance_fee_monthly">Average Long Distance Fee (Monthly):</label>
      <input type="number" id="avg_long_distance_fee_monthly" name="avg_long_distance_fee_monthly">
    </div>
    <div>
      <label for="total_long_distance_fee">Total Long Distance Fee:</label>
      <input type="number" id="total_long_distance_fee" name="total_long_distance_fee">
    </div>
    <div>
      <label for="avg_gb_download_monthly">Average GB Download (Monthly):</label>
      <input type="number" id="avg_gb_download_monthly" name="avg_gb_download_monthly">
    </div>
    <div>
      <label for="stream_tv">Stream TV:</label>
      <select id="stream_tv">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select> 
    </div>
    <div>
      <label for="stream_movie">Stream Movie:</label>
      <select id="stream_movie">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <label for="stream_music">Stream Music:</label>
      <select id="stream_music">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div>
      <label for="total_monthly_fee">Total Monthly Fee:</label>
      <input type="number" id="total_monthly_fee" name="total_monthly_fee">
    </div>
    <div>
      <label for="total_charges_quarter">Total Charges (Quarterly):</label>
      <input type="number" id="total_charges_quarter" name="total_charges_quarter">
    </div>
    <div>
      <label for="total_refunds">Total Refunds:</label>
      <input type="number" id="total_refunds" name="total_refunds">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>